*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tohama, Geneva, Verdana, sans-serif;
}
body{
    background-color: #f8f9fa;
    color: #2b2d42;
    line-height: 1.6;
}
/**Header**/
header{
    background: linear-gradient(135deg, #4361ee, #3a0ca3);
    color: #fff;
    padding: 1.5rem;
    text-align: center;
    box-shadow:  0 4px 6px rgba(0,0,0,0.1);
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}
.logo img{
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}
.logo h1{
    font-weight: 700px;
    font-size: 20px;
}
.slogan{
    opacity: 0.9;
    font-size: 18px;
}
/** main **/
main{
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
}
.dashboard{
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    gap: 1.5rem;
}
.card{
    background-color: #fff;
    border-radius: 10px;
    padding: 24px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: all 0.3s;
}
.card:hover{
    transform: translateY(-5px);
}
.card i{
    font-size: 2.5rem;
    margin-right: 1rem;
}
.total-produtos i{
    color: #4361ee;
}
.total-itens i{
    color: #3a0ca3;    
}
.valor-total i{
    color: #7209b7;
}
.estoque-baixo i{
    color: #ef476f;
}
.card .info h3{
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #2b2d42;
}
.card .info p{
    font-size: 1.8rem;
    font-weight: 700;
}